<mat-nav-list>
    <div class="profile-card">
      
    </div>

    <h2 matsubheader>معدل الإنتاجية</h2>
    <hr>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">المسحة الاولى</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">المسحة الثانية</a>
    

    <h2 matsubheader>أوامر العمل</h2>
    <hr>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" > نظام الرصف الأسفلتي </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">إصدار أوامر العمل</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" > إتمام أوامرالعمل </a>
    

    <h2 matsubheader>لوحة التحكم</h2>
    <hr>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">أوامر العمل</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/" > حالات الشوارع </a>
</mat-nav-list>