:host{
    .mat-icon{
        vertical-align: middle;
        margin-right: 20px;
    }
}
.profile-card{
    text-align: center;
    padding: 20px;
    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 20%;
    }
}
.text{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}