:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
width: 350px;
}
mat-drawer-container
{
    height: 100%;
    padding:20px;
}
mat-drawer-content{
    padding: 20px;
    padding-left: 20px;
}
